:root {
  --font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  white-space: nowrap;
}

.navbar > img {
  margin-top: 10px;
  margin-left: 15px;
  max-width: 130px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 15px;
}

.navbar li {
  list-style: none;
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 300;
  margin-right: 30px;
}
.navbar li:hover {
  background-color: rgb(225, 233, 233, 0.5);
  border-radius: 15px;
}

.navbar li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: black;
}

.navbar li:hover {
  color: white;
}

.toggle-button {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar2 {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  transition: 0.5s ease;
}

.navbar-link > a {
  transition: all 0.4s ease-in-out;
}
.navbar-link > a:hover {
  letter-spacing: 3px;
}
/* effet sous-titre */

.navbar-link > a::after {
  display: block;
  content: "";
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.5s;
}
.navbar-link:hover > a::after {
  width: 100%;
}

/* MENU BURGER */

.toggle-button .bar2::before,
.toggle-button .bar2::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.toggle-button .bar2::before {
  transform: translateY(-10px);
}
.toggle-button .bar2::after {
  transform: translateY(10px);
}

/* ANIMATION CROIX */

.toggle-button.open .bar2 {
  background: transparent;
}
.toggle-button.open .bar2::before {
  transform: rotate(45deg);
}
.toggle-button.open .bar2::after {
  transform: rotate(-45deg);
}

/**/

footer {
  width: 100%;
  text-align: center;
}

.footer-container > p {
  text-align: center;
  font-family: var(--font-family);
}

/* MEDIA QUERIES */

@media screen and (max-width: 500px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: flex;
    position: fixed;
    right: -100%;
    width: 100%;
    flex-direction: column;
    height: calc(100vh - 80px);
    top: 80px;
    transition: all 0.5s ease-in-out;
    background-color: rgb(225, 233, 233, 0.9);
  }

  .show-nav .navbar-links {
    right: 0;
  }

  .navbar-link > a {
    transition: all 0.4s ease-in-out;
  }
  .navbar-link > a:hover {
    letter-spacing: 3px;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links li {
    text-align: center;
    margin-top: 40px;
    margin-right: 0;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }

  .navbar li:hover {
    background-color: rgb(225, 233, 233);
  }
}
