body {
  background-image: url("../img/desktop-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

footer {
  padding-top: 300px;
}

#container {
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 1px solid black;
}

#carroussel {
  padding: 1em;
  height: 100%;
}

#buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

#texte {
  display: flex;
  text-align: center;
  margin-top: 40px;
}

.item-t {
  font-size: 1.5em;
}

.item-t,
.item-i {
  display: none;
  width: 800px;
  height: 600px;
}

.item-t.active-carrousel,
.item-i.active-carrousel {
  display: block;
}

.nos-chefs img {
  display: block;
  margin: auto;
  padding-top: 50px;
}

h1,
h2,
p {
  text-align: center;
  font-family: Roboto;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 60px;
  margin-top: 75px;
}

h2 {
  font-size: 1.8em;
  font-weight: 100;
}

.titre {
  border: 1px solid pink;
  padding: 30px;
  font-family: Roboto;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.nos-chefs p {
  background-color: pink;
  padding-bottom: 50px;
  border-right: 20px solid grey;
  margin: 50px;
  padding: 20px;
}

.nos-chefs img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 500px) {
  body {
    background-image: url("../img/background.jpg");

  }
  
  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 100;
  }

  #container {
    width: 380px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid black;
  }
  
  
  .item-t,
  .item-i {
    display: none;
    width: 380px;
    height: 300px;
  }
}
  