/*=============== Url du font qu'on à choisi ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== Variables CSS ===============*/
:root {
  --font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(../img/desktop-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

}


/*================================ MAIN SECTION & QUIZ =============================*/

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.quiz-container {
    background-color: #f5f7f7;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.quiz-header {
    padding: 4px;
    
}

.image {
    border-radius: 10px;
    text-align: center;
    width: 400px;
    padding-bottom: 10px;
}

h1 {
    padding: 3rem;
    margin: 0;
    text-align: center;
}
h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}
 
ul {
  list-style: none;
  padding: 0;
}


ul li {
    font-size: 1.2rem;
    margin: 1rem;
}

ul li label {
    cursor: pointer;
}

button {
    border: none;
    border-radius: 10px;
    display: block;
    color: #f5f7f7;
    width: 100%;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 1rem;
    background-color: #e09d83;
    
}
button:hover {
    background-color: #a35638;
}

button:focus {
    outline: none;
    background-color: #44b927;
}






footer {
  width: 100%;
  text-align: center;
}

.footer-container > p {
  font-size: 0.7em;
  color: #f1a896;
  text-align: center;
  font-family: var(--font-family);
}

@media screen and (max-width: 500px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}
