* {
  font-family: roboto;
  box-sizing: border-box;
}

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90%;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  margin-top: 10px;
  margin-bottom: 20px;
}

.info {
  width: 100%;
  margin: 0;
}
/* Coordonnées */
section {
  margin: 10px 0px;
}
.picto {
  height: 28px;
  margin: 10px;
}
.email {
  display: flex;
  margin: 5px 0 5px 0;
  width: 100%;
}
.phone {
  display: flex;
  margin: 5px 0 5px 0;
  width: 100%;
}
.location {
  display: flex;
  margin: 5px 0 5px 0;
  width: 100%;
}

/* Formulaire */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form_name {
  border: none;
  margin: 10px 0px;
  padding: 22px 13px;
  height: 20px;
  background: #eaeaea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.form_email {
  border: none;
  margin: 10px 0px;
  padding: 22px 13px;
  height: 20px;
  background: #eaeaea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.form_message {
  border: none;
  margin: 10px 0px 20px 0px;
  padding: 22px 13px 60px 13px;
  height: 20px;
  background: #eaeaea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.form_button {
  border: none;
  margin: 10px 0px;
  padding: 10px 0px;
  background: #eaeaea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  text-align: center;
  width: 200px;
  font-size: 1em;
  margin: auto;
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-size: 1em;
  padding: 10px 0px 10px 5px;
}

.form_button:hover {
  color: white;
  background: black;
}

label {
  font-size: 1em;
  font-weight: bold;
  margin: 25px 0px 0px 0px;
}

/* DESKTOP */

@media screen and (min-width: 500px) {
  body {
    background-image: url("/form/Img_form/desktop-background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }

  h1 {
    font-size: 2.2em;
  }

  .picto {
    height: 38px;
    margin: 10px 0px;
  }

  .info {
    width: 70%;
  }

  form {
    width: 70%;
  }

  .email {
    font-size: 1.2em;
  }

  .phone {
    font-size: 1.2em;
  }
  .location {
    font-size: 1.2em;
  }

  .contact {
    margin-left: 20px;
  }
}
