* {
  font-family: roboto;
}

body {
  background-image: url("/form/Img_form/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90%;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 30px;
}

.info {
  width: 100%;
}
/* Coordonnées */
section {
  margin: 20%px 0 20% 0%;
}
img {
  height: 30px;
  margin: 10px;
}
.email {
  display: flex;
  margin: 5px 0 5px 0;
  width: 100%;
}
.phone {
  display: flex;
  margin: 5px 0 5px 0;*
  width: 100%;
}
.location {
  display: flex;
  margin: 5px 0 5px 0;
  width: 100%;
}

/* Formulaire */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-top: 70px;
}

.form_name {
  border: none;
  margin: 10px 0px;
  padding-bottom: 12px;
  height: 20px;
  background: #eaeaea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.form_email {
  border: none;
  margin: 10px 0px;
  padding-bottom: 12px;
  height: 20px;
  background: #eaeaea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.form_message {
  border: none;
  margin: 10px 0px;
  padding-bottom: 100px;
  height: 20px;
  background: #eaeaea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.form_button {
  border: none;
  margin: 10px -4px;
  padding: 10px 0px;
  background: #eaeaea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  text-align: center;
  width: 100px;
  font-size: 1em;
  margin-left: auto;
  cursor: pointer;
}

button, input, select, textarea {
  font-size: 1em;
  padding: 8px 0px 0px 5px;
}


.form_button:hover {
  color: white;
  background: black;
}

/* DESKTOP */ 

@media screen and (min-width: 1000px) {
  body {
    background-image: url("/form/Img_form/desktop-background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }

  h1 {
    font-size: 2.2em;
  }

  img {
    height: 50px;
    margin: 10px;
  }

  .info {
    width: 70%;
  }

  form {
    width: 70%;
  }

  .email {
    font-size: 1.4em;
  }

  .phone {
    font-size: 1.4em;
  }
  .location {
    font-size: 1.4em;
  }

  .contact {
    margin-left: 20px;
  }
}

