:root {
  --font-family: Roboto, sans-serif;
}

body {
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

/* France map */

@media screen and (min-width: 500px) {
  body {
    background-image: url("./desktop-background.jpg");
  }
  svg {
    width: 50%;
    display: block;
    margin: auto;
  }
}

.map--image path {
  fill: rgb(127, 187, 255);
  stroke: #fff;
  stroke-width: 1px;
  transition: fill 0.3s;
  cursor: pointer;
}

.map--image path:hover {
  fill: rgb(169, 207, 250);
  stroke: #fff;
  stroke-width: 1px;
  transition: fill 0.3s;
  cursor: pointer;
}

.map--image {
  display: block;
  justify-content: center;
}

/* Popup */

.popup {
  display: block;
  justify-content: center;
  margin: 0 15% auto;
  padding: 0 1rem;
  min-width: fit-content;
  border: solid 0.1rem black;
  border-radius: 5%;
  overflow: scroll;
  box-sizing: border-box;
  background-color: rgb(216, 155, 155, 0.5);
}

h1,
h2 {
  font-family: var(--font-family);
  text-align: center;
}

p {
  font-family: var(--font-family);
  text-align: center;
  text-align: justify;
}
