:root {
  --font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}

.navbar > img {
  max-width: 80px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  list-style: none;
  font-family: var(--font-family);
}
.navbar li:hover {
  background-color: rgb(225, 233, 233);
}

.navbar li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: black;
}

.navbar li:hover {
  color: white;
}

.toggle-button {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

footer {
  position: absolute;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-container > p {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}
