body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.nos-chefs img {
  display: block;
  margin: auto;
  padding-top: 50px;
}

h1,
h2,
p {
  text-align: center;
  font-family: Roboto;
}

.titre {
  border: 1px solid pink;
  padding: 30px;
  font-size: 30px;
  font-family: Roboto;
}

.nos-chefs p {
  background-color: pink;
  padding-bottom: 50px;
  border-right: 20px solid grey;
  margin: 50px;
  padding: 20px;
}

.nos-chefs img {
  max-width: 100%;
  height: auto;
}

.bouton {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  margin: 10px;
}

#g {
  left: 0;
  transform: rotate(0deg);
  margin-top: -50px;
}

#d {
  right: 0;
  transform: rotate(180deg);
}
