:root {
  --font-family: "Roboto", sans-serif;
  --font-color: rgb(44, 43, 43);
}

body {
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

/* France map */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cuistotsimg > img {
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
  align-self: center;
}

.map--image .land {
  fill: rgb(127, 187, 255);
  stroke: #fff;
  stroke-width: 1px;
  transition: fill 0.3s;
  cursor: pointer;
}

.map--image .land:hover {
  fill: rgb(169, 207, 250);
  stroke: #fff;
  stroke-width: 1px;
  transition: fill 0.3s;
  cursor: pointer;
}

.map--image .land2 {
  fill: rgb(133, 169, 211);
  stroke: #fff;
  stroke-width: 1px;
  transition: fill 0.3s;
  cursor: auto;
}
svg {
  display: none;
  width: 100%;
  margin-top: 10%;
  align-self: center;
}

/* Popup */

.popup {
  padding: 0 1rem;
  min-width: fit-content;
  border: solid 0.1rem
    linear-gradient(65deg, rgba(236, 236, 236, 0.5), rgba(255, 205, 205, 0.5));
  border-radius: 5px;
  overflow: scroll;
  box-sizing: border-box;
  background: linear-gradient(
    65deg,
    rgba(236, 236, 236, 0.7),
    rgba(230, 219, 219, 0.7)
  );
}

.popup:hover {
  filter: brightness(105%);
}

h1 {
  font-family: var(--font-family);
  color: var(--font-color);
  text-align: center;
}

h2 {
  font-family: var(--font-family);
  color: var(--font-color);
  text-align: left;
  font-size: 1.5rem;
}

.popup p {
  font-family: var(--font-family);
  color: var(--font-color);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

input[type="submit"] {
  border: none;
  background: linear-gradient(65deg, #fff9e0, #e6dfc3);
  display: block;
  justify-content: center;
  min-width: fit-content;
  margin: auto;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
  padding: 15px;
  border-radius: 150px;
  font-size: 1.5rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s ease;
}
input[type="submit"]:hover {
  filter: brightness(110%);
  transform: translateX(5px);
}

.info {
  display: none;
  justify-content: center;
  padding: 0 1rem;
  margin-bottom: 10%;
  min-width: fit-content;
  border: solid 0.1rem
    linear-gradient(65deg, rgba(236, 236, 236, 0.5), rgba(255, 205, 205, 0.5));
  border-radius: 5px;
  overflow: scroll;
  box-sizing: border-box;
  background: linear-gradient(
    65deg,
    rgba(236, 236, 236, 0.7),
    rgba(230, 219, 219, 0.7)
  );
}
.info p {
  font-family: var(--font-family);
  color: var(--font-color);
  text-align: center;
  font-size: 1.1rem;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 1100px) {
  body {
    background-image: url("img/desktop-background.jpg");
  }
  .cuistotsimg > img {
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    align-self: center;
  }
  svg {
    width: 200%;
    margin: 10% -50%;
    align-self: center;
  }
}
